body {
    margin: 0;
    color: #222;
}

img {
    width: 110%;
    margin-left: -5%;
}

article {
    max-width: 800px;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Josefin Sans', sans-serif;

}

h1,
h2 {
    text-align: left;
}

h1 {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 10px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 30px;
}

h4,
h5 {
    margin: 0;
}

h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

h5 {
    font-style: italic;
    font-weight: bold;
}

p,
ul {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 0;
    margin-top: 0;
}

hr {
    height: 5px;
    background-color: #222;
}

.listsmall {
    font-size: 18px;
    margin-bottom: 10px;
    font-style: italic;
}

.head {
    width: 90%;
    margin-left: 5%;
}

.boldp {
  font-weight: bold;
}
